*{
    margin: 0;
}

body {
    background-color: white;
}

header {
    background-color: blue;
    display: flex;
    overflow: hidden;
}

header nav {
    padding: 5px;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding: 10px;
    position: relative;
}

nav a:hover {
    background-color: aqua;
}

nav img {
    height: 50px;
    width: 50px;
}