* {
    margin: 0;
}

body {
    background:  linear-gradient(90deg,rgb(135, 199, 231), rgb(196, 218, 237));
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
}

.camara {
    height: 80%;
    width: 50%;
    border-radius: 25px;
    background-color: rgb(109, 109, 238);
}

.camara h3 {
    font-size: 25px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.camara img {
    height: 90%;
    width: 100%;
    border-radius: 0 0 25px 25px;
}

.anterior {
    height: 30%;
    width: 8%;
    border-radius: 25px 0 0 25px;
    background-color: rgb(109, 109, 238);
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.siguiente {
    height: 30%;
    width: 8%;
    border-radius: 0 25px 25px 0;
    background-color: rgb(109, 109, 238);
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.siguiente:hover, .anterior:hover {
    transform: scale(1.02);
    background-color: rgb(85, 85, 190);
    cursor: pointer;
}

.flechaI {
    border-right: 50px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.flechaD {
    border-left: 50px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}